[2015-10-01 21:42] maryi opened #1 "Making a test for GitHub-Slack integration"
Making a test for GitHub-Slack integration description

[2015-10-01 21:43] #1 closed

[2015-10-07 20:30] maryi opened #2 "Create app for cellphone"

[2015-10-08 03:33] maryi opened #3 "Week 2 - Ethics application"
- [x] Fill out Ethics application
- [x] Create APPENDIX 1: Email invitation to participants
- [x] Complete APPENDIX 2: Consent form
- [x] Create APPENDIX 3: Survey
- [x] Send complete Ethics application to Peggy for review
- [ ] Apply Peggy's suggested changes

[2015-10-08 03:35] maryi opened #4 "Preliminary research review"

[2015-10-08 03:37] maryi opened #5 "App design"

[2015-10-08 23:37] maryi opened #6 "how the 4th dimension -communities of practice- defines or affects a tool?"
I was making the design for the interface and I got into this problem..
I understand how a tool for 0 communities would be different from another one that support different communities, but i just don't see why we would want to know "how many". According to the MoCA framework we should have from 0 to N.. any ideas?

[2015-10-08 23:40] maryi opened #7 "the 9th dimension is "Purpose"?"
Again, working on the app design...
And I just feel something is missing in the framework. If I look for apps using this framework I would get in the same search Skype and Trello.. and they shouldn't because although both are for collaborative work, the first on is for communication while the later is for planning...
What do you guys think?

[2015-10-09 00:37] maryi opened #8 "List of app requirements"
Help to create the list of requirements

[2015-10-12 18:23] maryi opened #9 "App - function registering an application"
**Planned Permanence dimension**

I think we shouldn't have this dimension in the specific case when the user is registering a new app into the system .... We can decide about this based on different information.

For instance:
We can ask the user if the the app is web based, if it is free, if it requires to download an installer, if you need to register in order to use it.. and then on the back o

[2015-10-13 02:27] kristalow opened #10 "Preliminary literature review about the problem we are trying to solve"
I'm having some trouble looking for some more literature reviews so if anybody has found any articles or literature reviews for this section, feel free to post them here. Thanks!

So far I found this literature review about virtual teams: https://hal.archives-ouvertes.fr/hal-00509753/document
This literature review makes some good points about the importance of selecting the right tool for collabo

[2015-10-13 17:57] maryi commented on #8
1. User can register and create an account on the application (?)
**I think we need to be able to create user accounts in order to track what tools users use in conjuction with others. Then, if a user can register in the system, he/she should be able to
2. Log in to the app
3. Log out of the app

[2015-10-13 18:09] dustinfaulkner91 commented on #8
I think if we make personal log ins it takes away from what we are trying to achieve. Is there another way that we can figure out what people are using together? Just because a user had a an app in their list does not mean that it was used with others.
I thought we wanted everyone to be able to rate/see/add apps.

[2015-10-13 18:22] maryi commented on #10
Blog with good information and background about the problem:
http://www.altimetergroup.com/2015/01/there-are-too-many-workplace-collaboration-tools-and-theyre-killing-our-productivity/

[2015-10-13 20:35] eli4 commented on #10
http://www.sciencedirect.com.ezproxy.library.uvic.ca/science/article/pii/S0747563214007262
This article talks about how to make a system that will recommend things based on user needs. (you may have to sign in to your uvic account to read the article since I found it on the university library website)

[2015-10-14 00:15] maryi commented on #8
Hi @dustinfaulkner91,
I agree with you... you made me think that if we really want to make our app of "easy access" we shouldn't be putting the registration extra step. However, I don't know how are we going to be able to say that an app is complementary of another one is we don't have information from user sessions.. are you thinking about a voting system or something similar?

[2015-10-14 00:17] maryi commented on #5
When the list of requirements is complete #8 we need to decide how are we going to modify/adapt the interface to that.

[2015-10-14 18:05] maryi commented on #10
I checked with Eirini and blogs can be consider a valid source of information for the literature review... So here a couple more :)

http://dionhinchcliffe.com/2015/06/29/how-digital-collaboration-is-fragmenting-and-why-its-a-major-opportunity/

http://www.nielsen.com/us/en/insights/news/2014/smartphones-so-many-apps--so-much-time.html

http://www.sitepoint.com/drowning-in-tools-web-development-in

[2015-10-14 18:09] kristalow commented on #10
Thanks for the help!
I will read all of these articles and will update the section in the proposal later today

[2015-10-14 18:39] maryi commented on #10
You're welcome :)
I'll leave this issue open, we will need literature review until the project ends ...

[2015-10-14 23:04] mpaskevi opened #11 "Generating a list of base applications"
We should consider building a base list of apps for the database.  This should not be a problem and there are lists available online as well (see: https://en.wikipedia.org/wiki/List_of_collaborative_software).  What I am more concerned with is, how do we want to describe each app in the database?  What fields should we collect which will help us describe the apps and help us connect them to the Mo

[2015-10-14 23:47] maryi commented on #11
I thought about the same thing @mpaskevi when I saw the title of this issue.. i have a couple of apps that could go into our database, but how to "rate" them based on the MoCA framework?
We kinda started with a solution for that when we design the app mockups. For example, when asking about the number of people supported by the tool I consider 2, 4, 20 and N because I thought those were the usual

[2015-10-15 17:07] maryi commented on #3
I'm working on the project Ethics and I need to confirm some information with you..
The project name is: Match maker application, right?
And I need your Uvic emails please :)

[2015-10-15 17:17] maryi commented on #3
@eli4 what is your last name?
@mpaskevi and @dustinfaulkner91 what is your uvic email account?

[2015-10-15 18:14] mpaskevi commented on #3
I do not use uvic email.

[2015-10-15 18:15] mpaskevi commented on #3
I might add 'software affordances' to the keywords

[2015-10-15 18:24] maryi commented on #3
@mpaskevi i'll add the keyword.
Also, the ethics application requires an uvic account. it says that I can provide a different email as the preffered address, BUT the uvic email must be in the application.

[2015-10-15 18:31] mpaskevi commented on #3
mpaskevi@uvic.ca

[2015-10-15 18:35] maryi commented on #3
Thanks! @mpaskevi .. I think this is just to confirm the affiliation with Uvic

[2015-10-15 22:08] eli4 commented on #3
my last name is ferguson and my uvic emial is elif@uvic.ca

[2015-10-15 22:41] kristalow commented on #3
my email is kmlow@uvic.ca

[2015-10-15 23:26] maryi commented on #3
Thanks!
i'm still missing @dustinfaulkner91 uvic's email

[2015-10-16 17:20] maryi opened #12 "Meeting week 2"
Hi team, @mpaskevi @eli4 @dustinfaulkner91 @kristalow
We didn't agree on the time for our next meeting, but I think is important to have a meeting at the beginning of the week since we don't have to make any blog posts we can use the time for the project :) ...
**So, what about meeting Monday 4:30pm ??**
Please reply if you agree or not. Thanks!

[2015-10-16 17:25] mpaskevi commented on #12
Monday 4:30pm works for me!

[2015-10-16 17:58] eli4 commented on #12
monday at 4:30 is fine with me

[2015-10-16 18:33] maryi opened #13 "Project proposal"
I'm still working on the Ethics (I'm in the 9th page out of 20) But I had some time to take a look at the proposal and made some comments.
I'll continue working on the Ethics and @mpaskevi will work on the proposal edition and general flow.
However, we still have some **empty** and **very incomplete sections** so we really need everyone's help.
Please @eli4 @dustinfaulkner91 @kristalow select two

[2015-10-16 19:41] kristalow commented on #12
4:30pm on monday works for me

[2015-10-16 19:43] maryi commented on #3
I'm choosing the method of survey in our methodology.. If you don't agree with that, please let me know

[2015-10-16 20:40] eli4 commented on #13
im doing some work on limitations,strategy and expected results

[2015-10-17 02:13] kristalow commented on #10
i made some changes and small edits throughout the day.. i've read the proposal over again and i think what we have written so far is good

[2015-10-18 20:45] mpaskevi commented on #9
I am thinking make this selection non-exclusive.  Perhaps for low planned permanence apps which are free and easily accessible are ordered first.

We should get some mock ups of the app display page wireframed so we can start imaging what that page looks like after users enter their MoCA description.

[2015-10-18 23:33] mpaskevi commented on #7
Perhaps purpose can be described according to Bower's typology? I think there is actually room for us to expand upon this typology (http://www.downes.ca/files/images/Web_2.0_Technologies.PNG)

I have popped the topology in text form in this google doc, perhaps we can work to expand and use this field to connect with purpose as a further dimension.

https://docs.google.com/spreadsheets/d/1TqLa4gHUF

[2015-10-19 17:00] maryi commented on #12
Ok. then see you all at 4:30pm today.
May i remind you that this is a virtual meeting. We will meet in slack and then use @mpaskevi link/tool to connect.

[2015-10-19 17:08] maryi commented on #7
@mpaskevi i like this idea.
However, looking at the Bower's typology, how would you classify Github? i think this tool cannot be placed in just one classification.. but then, it could be multiple 'types' at the same time? A synchronous collaboration tool, Website creation tool and a social networking system??
What do you think?

[2015-10-19 17:23] maryi opened #14 "Week 2 - Create user requirements and define application descriptors"
- [x] Create list of user requirements
- [x] Define application descriptors, based on MoCA and on our complementary research

[2015-10-19 17:29] maryi opened #15 "Week 2 - Set up Website"
- [x] Create a different folder for the project development

Create the website for MatchMaker app using Github features. *ONLY visual interface*:
- [x] Create welcome page
- [x] Create page to search for an app -base development on mockups
- [x] Create page to register a new app in the database -base development on mockups

[2015-10-19 17:37] maryi opened #16 "Week 2 - Set up Database"
- [x] In the project development folder create a folder for the database information
- [x] Set up the data base server
- [x] Add tables to the database based on the application descriptors.

[2015-10-19 17:45] maryi opened #17 "Week 2 - Create list of base applications"
- [x] Create a google spreadsheet and create a link to it on Github
- [x] Add in the first row the list of descriptors we will use for each application/tool.
- [x] Using the list of applications provided in #11, add each application to the spreadsheet and analyze its characteristics to define the descriptors.

This list of base applications will be used on Week 3 to initially populate the database

[2015-10-19 23:14] mpaskevi commented on #7
@maryi Agreed there will be some overlap in the categories, I believe we can use multiple to describe an application.  We will also have at least the seven other dimensions to describe the application which will hopefully help the matching process to the CSCW.

[2015-10-21 17:35] maryi commented on #3
I just finished the Ethics application with all the attachments: Participant consent form, invitation email and survey.

[2015-10-21 20:04] mpaskevi commented on #14
First draft: https://docs.google.com/spreadsheets/d/1TqLa4gHUFu1yPXL21nvnYt639jL6ufVpg50lL-hpFUo/edit#gid=792928667

[2015-10-21 20:26] mpaskevi opened #18 "Synchronous versus asynchronous"
We had this discussion at our October 21 meeting.  Is the boundary between synchronous and asynchronous communication starting to blur?  Is GitHub a synchronous tool as Maryi argued, because we can read and respond in real time to each others contributions. What about Slack?  Lets keep this conversation going :)

[2015-10-22 00:27] eli4 commented on #18
perhaps instead of having users choose whether an app is synchronous or asynchronous it would be better to have a slider to indicate how strongly synchronous or asynchronous an app is

[2015-10-22 00:30] eli4 opened #19 "mysql database server"
could use some help finding a free mysql server.
@maryi @mpaskevi @kristalow  @dustinfaulkner91

[2015-10-22 00:37] maryi commented on #14
Thanks @mpaskevi for your work :+1: .. i moved the link to the project report folder so we can all easily find it from there..
Just in  case you don't know.. you can clic on the "squares"  so you indicate that  you've finished that specific task.. Thank way we can keep track of progress

[2015-10-22 02:11] kristalow commented on #17
list of base applications spreadsheet: https://docs.google.com/spreadsheets/d/1Trh6Pesxvv5aYfd_x7wXxGmR5k9Y5g7-wpFbezwqi8E/edit?usp=sharing

[2015-10-22 02:28] kristalow commented on #19
maybe try this one?
http://www.microsoft.com/web/platform/database/free-database.aspx

[2015-10-22 02:46] kristalow commented on #18
i think that's a good idea @eli4 . some apps can have both synchronous and asynchronous communication, like slack for example. slack can be like instant messaging or it can also be like email since a person doesn't always respond to a message right away.

[2015-10-22 03:35] eli4 commented on #19
that would run a database off my computer but it wouldn't allow the application website to connect to it.what we need is a server that we can connect to over the internet.

[2015-10-22 03:40] eli4 commented on #19
https://aws.amazon.com/free/ i just found this one so unless anyone has other suggestions this is probably what ill end up using

[2015-10-22 21:28] maryi commented on #19
i found this http://www.uvic.ca/systems/services/storagebackup/databaseadmin/index.php
I emailed them and I waiting for their answer... Maybe we can have the database on the Uvic servers.. we'll see :)

[2015-10-22 21:32] maryi commented on #18
I like your idea @eli4, however I have a concern with that approach..what is going to be the scale to implement in the slider? and what it means each of the values on the scale? We have to define that so everyone using our app have the same idea when they choose that an app is "10" towards synchronous, for example..

[2015-10-22 22:21] maryi commented on #19
I also typed 'free mysql hosting' on google and i got a lot of websites that offer free hosting for MySQL databases...maybe take a look at that if there is something useful

[2015-10-22 22:23] maryi commented on #12
We already met. so closing issue.

[2015-10-22 22:23] #12 closed

[2015-10-22 22:23] #4 closed

[2015-10-22 22:27] maryi commented on #15
Hi,
I'm leaving here some extra resource to help you with the website creation:
https://pages.github.com/
https://help.github.com/articles/creating-project-pages-manually/
https://help.github.com/articles/creating-pages-with-the-automatic-generator/

[2015-10-23 18:11] maryi commented on #19
Hi @eli4,
The helpdesk people from Uvic replied and said they can host the database in their servers :)
We just need access and start creating the database.. I forwarded the email to your email address so you can continue with the conversations.
I sent the message to this address elif@uvic.ca.. let me know if you didn't get the message.

[2015-10-23 18:11] maryi commented on #13
Project proposal was submitted, so closing this issue.

[2015-10-23 18:11] #13 closed

[2015-10-23 18:20] maryi opened #20 "Meeting week 3"
Hi everyone! @mpaskevi @eli4 @kristalow @dustinfaulkner91
I think is good to have a meeting at the begining of the week to check how are we doing and make the plan for the week.
**Please make sure before the meeting you have updated your task issue with the progress you have made so we all can see what you've been working on and how can we all help.**

Do you have time to have the virtual meeting

[2015-10-23 18:59] eli4 commented on #20
4:30 works fine for me

[2015-10-23 20:53] eli4 commented on #18
a 1 could mean completely async, a 10 be completely sync, a 5 it supports both, 2-4 its more async then sync, and 6-9 its more sync than async. my question would be what apps would rate as a 1 (completely asynch) if we are using the definition discussed in our meeting on Wednesday, that a synchronous tool is one that produces some change instantly. with that definition is anything completely async

[2015-10-23 21:53] kristalow commented on #20
monday at 4:30 works for me

[2015-10-25 19:03] eli4 commented on #14
For the descriptors I would suggest adding a compatibility descriptor where the user can enter applications that go well with the one they are describing, for example GitHub and slack go well together. Also I'm not sure the creator descriptor is useful, i cant think of a reason we would want to list all the collaborative tools Microsoft has for example, I think people want collaborative tools that

[2015-10-26 16:20] maryi commented on #14
:+1: I like @eli4 's idea.
Maybe we can just allow application name and link to get more information. Then, If any user is interested, they can just go into the link.
About authentication type.. I don't remember that either, sorry!.
This confirms we need to define our vocabulary :)

[2015-10-27 00:07] eli4 commented on #16
currently waiting on uvic staff to respond with database information

[2015-10-27 00:14] kristalow commented on #17
compared my list of applications with the one's eli added to the spreadsheet and the descriptors we used are the same. i will add more applications to the list by wednesday.

[2015-10-27 00:20] maryi commented on #15
Hi @dustinfaulkner91,
We missed you at our meeting. How are you doing with the web development? do you need any help?
Please let us know.

[2015-10-27 00:29] maryi commented on #20
Plan for the week:
Michael & Maryi: Work on descriptors and addressing Peggy's comments.
Krista: continue making the list of apps
Eli: DB implementation, update mockups
Dustin: continue with web development (?).  We don't have any news from him, waiting until wednessday meeting.

[2015-10-27 00:29] #20 closed

[2015-10-27 00:32] maryi opened #21 "Week 3 - Update mockups"
- [x] Update mockups in accordance with the new descriptors

[2015-10-27 00:33] maryi opened #22 "Week 3 - Work on descriptors and report"
- [x] complete descriptors definiton
- [x] address Peggy's comments on the project report

[2015-10-27 01:57] dustinfaulkner91 commented on #15
Im doing OK.
Getting it figured out.

[2015-10-27 03:42] dustinfaulkner91 commented on #15
The websites are made, but they are going to need a little bit of work. I've been working on it the last 3 hours, but I need to keep reading on Git and HTML. I can't quite get the surveys to do what I want.

[2015-10-27 18:06] maryi commented on #15
Hi @dustinfaulkner91
I notice you reported your time in your personal log (.md).. I just wanted to let you know the Peggy ask us to move into a single spreadsheet to report our activities. This new file is in the same folder with the link. Please move and keep your activity report there.
Thanks!

[2015-10-27 18:46] eli4 commented on #16
I recieved an email back from uvic regarding using there database, It looks like if we use their database  we would have to connect from the Engineering LAN, meaning the website would be unable to communicate with the database outside the engineering and ecs buildings. Becuase of this I think it might be better if i just set up a virtual database using https://aws.amazon.com/free/ so we will be ab

[2015-10-27 18:50] maryi commented on #16
:+1:  @eli4
Agree with you, I don't like that restriction either...

[2015-10-27 19:07] mpaskevi commented on #16
@eli4 Thanks for looking into this.  I agree with you both, we need a DB that is accessible for both building and deploying the app.

[2015-10-27 20:34] eli4 commented on #21
updated the mockups to reflect our current set of descriptors

[2015-10-28 18:56] maryi opened #23 "How the 'Nascence' of the work defines a tool?? or How do you select a tool based on the nascence of the work??"
@mpaskevi @eli4 @kristalow @dustinfaulkner91
Working on the descriptors I have a question for you team...
how we can use the information of nascence to select a tool? Ideas???

[2015-10-28 19:31] mpaskevi commented on #23
It is a tough one, I understand nascence to be related to the whether work is routine or developing. I see all work as developing with potential for change. I'm thinking if the level of nascence is low, this work being done is routine, and a user would not be looking for a new app to use anyway.

Just putting some thoughts out there, any other ideas?

[2015-10-29 14:04] mpaskevi commented on #22
Ill be moving the report into markdown format here today.

In the presentations yesterday there was reference to another interesting descriptor, the modal descriptor.  Modal describes the tool in terms of audio, video, document - however I think we could add more selections, thoughts?  Here is the reference:

Nickerson, R. C. (1997). A taxonomy of collaborative applications. In Proceedings of the

[2015-10-29 19:27] kristalow commented on #22
has anyone made an issue for peggy's comments? i can make one if there hasn't been one made yet

[2015-10-29 19:29] mpaskevi commented on #22
Please feel free @kristalow, thanks!  Make a checklist item for each issue we need to resolve.  I will only get to moving the proposal later this evening.

[2015-10-29 20:01] kristalow opened #24 "Peggy's Comments for Proposal"
Link to proposal pdf: https://slack-files.com/files-pri-safe/T0ACBS53K-F0D5FTWF3/matchmakerapp_proposal_feedback_from_peggy.pdf?c=1446150848-0216eb581ca8e3f2610551133660e59ab4d0cbfa

<b>Abstract:</b>
- [x] I think your abstract undersells what you may do -- but you can update this as you progress through your project. Also the way the abstract is written, there is a lack of a problem -- why do we

[2015-10-29 20:03] kristalow commented on #24
I tried dividing them up into sections..but refer back to our proposal to get a better understanding of where she made the comments.

[2015-10-29 20:16] maryi commented on #24
:+1: Thanks @kristalow !
team, remember to select the check box if you start working on any of these issues :)

[2015-10-29 20:26] mpaskevi commented on #24
I like how you handled the sections @kristalow, I was wondering how to do this myself.  Perhaps we can have the PDF linked here as well so we can see specifically where Peggy made the comment in the document.

[2015-10-29 20:40] kristalow commented on #24
thanks for the suggestion, i added the link to the proposal pdf at the top of the page.

[2015-10-30 20:21] eli4 opened #25 "Presentation on wensday november 4th"
Presentation requirements:
3-5 sildes
5-10 minutes presenting
content:
future milestones
work accomplished so far
challenges encountered so far

[2015-10-30 23:23] eli4 commented on #16
the database implementation is now done, hopefully during the rest of the week I will add all the apps we have currently listed to the database

[2015-11-03 00:57] #3 closed

[2015-11-03 00:57] #21 closed

[2015-11-03 00:58] #6 closed

[2015-11-03 01:11] kristalow opened #26 "Project presentation powerpoint"
Link to this week's presentation:
https://docs.google.com/presentation/d/1e0ToTf57v-narrA592b5_1DN9x0KgVXUhrFSOw02BQE/edit?usp=sharing

from slack:
"For this project update, you should prepare 3-5 slides, and speak for 5-10(max) minutes to discuss work done so far, next milestones and hurdles faced."

[2015-11-03 01:29] kristalow commented on #26
feel free to add/change anything on the slides..
if anyone has any hurdles/challenges they've come across so far, feel free to add them to the slide

[2015-11-04 01:55] #5 closed

[2015-11-04 14:57] mpaskevi commented on #26
@dustinfaulkner91  could you please ensure we are able to show the website during the presentation today?  I currently do not see a 'link to' or a 'screenshot of' the website in the presentation.

@eli4 It might also be useful to have a screenshot of the database.  Also might be nice to reflect on the challenge of finding a place to host our database.

We have the descriptors spreadsheet linked in

[2015-11-04 18:39] #19 closed

[2015-11-04 18:50] eli4 commented on #26
I'm not 100% sure what you mean when you say you want a screenshot of the database. If you want the code for the database it is now in the repository under the directory development/database. If you wanted a description of where the database is hosted: https://aws.amazon.com/ec2/

[2015-11-06 01:42] #25 closed

[2015-11-06 17:20] #22 closed

[2015-11-07 01:46] #14 closed

[2015-11-08 19:20] mpaskevi opened #27 "Clarity on the naming of our application"
Throughout the report we have used different names for the application including:

match maker application
match maker app
matchmaker app

Just to be consistent I think we should wed ourselves to one standard name.  I am proposing 'MatchMaker Application' as the standard. Please let me know if you have other ideas or want to go with something else.

This should also be standardized in the mockups

[2015-11-08 19:39] mpaskevi commented on #17
how is work going on this?  it does not appear that the list of apps is growing very quickly.

[2015-11-08 19:39] mpaskevi commented on #26
Presentation done, well done!

[2015-11-08 19:39] #26 closed

[2015-11-08 20:01] kristalow commented on #17
it's good, i've been super busy with my other classes but i will definitely focus on adding some more to this list later today and during reading break.

[2015-11-09 00:20] kristalow commented on #24
i've checked a few things off this list that i will be working on, so hopefully it hasn't been already completed. i'm going to add more details to the 'problem we're trying to solve' section, help out with the milestones, roles section.

[2015-11-09 02:36] eli4 commented on #17
we should probably update the list of base application to include the new descriptors of modality and others found here:https://docs.google.com/spreadsheets/d/1TqLa4gHUFu1yPXL21nvnYt639jL6ufVpg50lL-hpFUo/edit#gid=792928667

[2015-11-09 20:36] kristalow commented on #17
thanks for the reminder @eli4 . i have updated the list of apps to include modality, learning curve, etc. and i removed authentication type.

i'm having some trouble classifying some apps for the 'content privacy' descriptor. (Private channels/ Open messages to registered users / Open messages to general public)
for example, some online whiteboards can only be seen by the select group of people wh

[2015-11-09 20:37] eli4 opened #28 "Remaining website work"
all website materials can be found here: https://github.com/maryi/CSCW-Project/tree/master/Development/Web/turorial

- [x] First: @dustinfaulkner91  needs to edit the 3 HTML (mainly just registerIndex and searchIndex) to reflect the descriptor outline given by @maryi  here: https://docs.google.com/spreadsheets/d/1TqLa4gHUFu1yPXL21nvnYt639jL6ufVpg50lL-hpFUo/edit#gid=792928667

- [x] Second: I will

[2015-11-10 01:04] mpaskevi opened #29 "Interim report sprint"
Hello all,
As per our discussion online just now, we need everyone documenting their work on the MatchMaker Application project in the interim project report (https://github.com/maryi/CSCW-Project/blob/master/Project%20report/ReportDocument.md)

@eli4 has agreed to contributing to the technical spec section, including details of the app development and linkages to DB. @dustinfaulkner91 we are hopi

[2015-11-10 02:06] kristalow commented on #29
i decided to use latex to format our report..turns out it's not that hard to learn :) and i'm still trying to figure out how to upload a pdf (once the report is complete) to github.

[2015-11-10 03:37] kristalow opened #30 "Uploading pdf to Github"
I'm having some trouble learning how to upload a pdf to github (this is necessary to submit our interim report). i set up git on terminal/command prompt and cloned the repo to my laptop but i'm not sure how to add files to the repo from terminal. if anyone knows how to upload files, please let me know! i don't want to try and figure this out on the day our report is due.

[2015-11-10 04:32] eli4 commented on #30
to upload the pdf I would do the following
1. open git shell
2. clone the repo
3. add the pdf to the place on the local (cloned repo) that you want it to be on github
4.git add <name of pdf>
5. git commit -m <"any comment you want to add with your pdf commit">
6.git push

[2015-11-11 00:12] kristalow commented on #30
thanks for the help @eli4 !! :) i was able to upload a test pdf to github using the steps

[2015-11-11 02:17] kristalow commented on #28
here's an idea of what the website could look like with a header & stuff
![example](https://cloud.githubusercontent.com/assets/14945605/11082092/18f277c8-87d7-11e5-83a4-f331ef6b3570.png)

[2015-11-11 04:08] mpaskevi commented on #28
That look great @kristalow!  What do you think @eli4 and @dustinfaulkner91, possible to style the site this way?

[2015-11-11 05:45] eli4 commented on #28
its 100% possible and I suspect it wouldnt take very much work to get it looking like this.

[2015-11-11 19:00] mpaskevi commented on #27
Since no one raised concern I have changed all references to the app to 'MatchMaker Application'

[2015-11-11 19:00] #27 closed

[2015-11-11 19:09] mpaskevi commented on #30
@kristalow please close this issue if resolved.

[2015-11-11 19:10] #18 closed

[2015-11-11 19:17] mpaskevi commented on #28
Hi @dustinfaulkner91 @eli4 , I am seeing some differences between the app as it currently exists and our description in the project report document?  See https://github.com/maryi/CSCW-Project/blob/master/Project%20report/ReportDocument.md#11-explanation-of-user-requirements for the latest fields described for search and register an app.

What are the chances we could bring the app in line with our

[2015-11-11 19:20] mpaskevi commented on #28
@eli4 I am seeing that you have addressed this issue in the report just now.  So I am guessing it is not feasible for Friday?

[2015-11-11 20:05] #30 closed

[2015-11-11 20:46] eli4 commented on #28
there is a chance that ill have time to add this image to the html either tonight or tomorow afternoon. It depends on how fast I can finish some of my other school assignemnts. Otherwise maybe @dustinfaulkner91  could add it in when he is modifying the fields in the register and search page

[2015-11-11 20:50] mpaskevi commented on #28
@eli4 @dustinfaulkner91 it would be great!  if it does get done please be sure to update the report as well.  we want to be sure our report matches our current prototype.

[2015-11-11 22:24] mpaskevi commented on #29
@kristalow I am signing off of the document at this point, I have completed my edits.  @eli4 @dustinfaulkner91 @maryi Please let Krista know when you have completed your edits, hopefully by end of day today, as she will do the final read through and submission on Friday.  Many thanks!

[2015-11-11 23:19] maryi opened #31 "Meeting with Peggy week nov 16"
@mpaskevi  posted:
peggy is requesting team meetings next week.  I can come in virtually on Monday or Tuesday at 4pm?  Does that work for anyone else?

[2015-11-11 23:20] eli4 commented on #31
those times work for me

[2015-11-11 23:20] maryi commented on #31
@kristalow said: im able to meet on monday at 4, but tuesday doesn't work for me
as for me... I can do Monday

[2015-11-12 00:21] maryi commented on #31
I sent a request to Peggy for meeting on Monday 4pm.. still waiting her confirmation :)

[2015-11-12 01:48] kristalow commented on #29
i made a bunch of grammar & consistency changes (eg: app to application) to the report, but on the history it doesn't say that i made any of those changes even though the report has been updated with my changes.. i think i was editing the report at the same time as you @maryi so maybe the history was overwritten?

[2015-11-12 01:50] maryi commented on #29
yes, I was making changes. Did you save yours??
If you did it shouldn't be a problem... I was working on a local copy, not on the web version

[2015-11-12 01:50] dustinfaulkner91 commented on #28
We're more focused on functionality at the moment. Making it pretty is easy enough after everything works properly. We may need to modify some descriptors for functionality's sake.

[2015-11-12 01:52] maryi commented on #31
Peggy confirmed the time :)
Monday 16th at 4pm

[2015-11-12 01:55] kristalow commented on #29
the changes were saved but for some weird reason the history says i only made 1 commit, even though i did another commit before my most recent one.

[2015-11-12 01:59] maryi commented on #29
jummm... no idea.. I hope it didn't deleted much from your edits..
Anyway.. I won't be modifiying anything else in the report (sorry if it was my fault :(   )..Now,  I'm completing the info in the APPENDIX 3

[2015-11-12 02:10] dustinfaulkner91 commented on #27
I would be interested in discussing a more... interesting name. I propose "Not P.O.F." Although, this is is probably not a pressing matter.

[2015-11-12 02:15] kristalow commented on #29
don't worry it wasn't your fault @maryi, i was able to add in a few of the missing changes.

@maryi @mpaskevi @eli4 @dustinfaulkner91 are we finished editing the report? if so, i'm going to start formatting the report tonight.

[2015-11-12 02:15] maryi commented on #29
Ok... I'm finish with my edits..
I'm pretty happy with the result.. Let's keep the awesome work team!!
I completed the info in the APPENDIX 3 and verified that we had a link from the report to it.
I won't be modifying anything else.. @kristalow I think now you are the only one working on the report.

[2015-11-12 03:12] mpaskevi commented on #29
Just to confirm @kristalow, my edits are complete

[2015-11-12 03:17] eli4 commented on #29
my edits are complete as well

[2015-11-12 17:57] mpaskevi commented on #31
Great, I will have to come in via skype or google hangouts.  Would someone be willing to bring their laptop or tablet to be my personal portal to the meeting?

[2015-11-12 18:08] mpaskevi commented on #17
Sorry for the delay @kristalow.  Some ideas

Private channels - users can communicate to other group members privately or the group as a whole (Google Hangouts, Slack)
Open messages to registered users in group - users can communicate to group as a whole only (Gliffy, GitHub)
Open messages to general public - all communication visible to outside users (Twitter)

Perhaps 'open messages' is not the

[2015-11-12 20:13] kristalow commented on #31
@mpaskevi i will have my laptop with me on monday and i can use either Skype or google hangouts, whatever is easiest.

[2015-11-12 20:14] kristalow commented on #17
@mpaskevi yes, thank you for the help. this will give me a good start on filling this section in for the app list.

[2015-11-12 22:15] kristalow opened #32 "uploading interim report"
i'm having some trouble uploading the file to github again. i think it's because my local repo isn't updated with the most recent changes.. i tried googling it, but i still can't get it to work. anyone have any ideas?
i will still try to figure out how to upload it, but if i still can't get it to work, can somebody else upload the report? thanks!

[InterimReport.pdf](https://github.com/maryi/CSCW-

[2015-11-12 23:06] eli4 commented on #32
if you into the main project directory and do a git pull it should update your repo and then after that you can push the changes

[2015-11-13 00:08] kristalow commented on #32
@eli4 i tried doing a git pull and push and it still doesn't seem to work, but thanks for the help
@maryi i know that you have more experience using github, so do you think you would be able to upload the report? i still can't figure out how to update my local repo & uploading the file.

[2015-11-13 01:26] maryi commented on #32
Hi @kristalow ..
send me the files you're trying to upload to my gmail... I can upload the files :)
PD: My email is in our slack channel

[2015-11-13 02:11] maryi commented on #32
Hey team..
I just uploaded the pdf version of the report. I also created in the main page a link to it, so Peggy can easily find it :)

[2015-11-13 20:25] #32 closed

[2015-11-13 22:39] mpaskevi commented on #31
@kristalow Thank you, I will come in via our weekly meeting hangout room.

https://hangouts.google.com/call/ej5z6rzjzoyge2ihmvb7liqxoaa

[2015-11-15 21:08] mpaskevi commented on #28
Hi team, how is the application development going? I am hoping we can begin some user testing this week. Is there an estimate on when we might have the app in line with our latest document?

[2015-11-15 21:10] eli4 commented on #28
i was planning on implementing a possible search function today which is the only missing functional component. however the way the html was giving data was inconsistent with the list of base applications we have so i have to sort that out before doing the search function. hopefully i will still have time today to do both. after that all thats left is to make it look pretty and perhaps improve the

[2015-11-15 21:28] eli4 commented on #28
at the current rate of things it looks like in less than three hours, the website should have search functionality! from that point on there should only be minor modifcations needed, for example adding links on all the pages to the home page

[2015-11-15 21:29] mpaskevi commented on #28
It looks like the app search page is out of sync with the current report document.  Is this the most up to date version of the app: http://turorial1-1120.appspot.com/search?  It is missing purpose which is supposed to a multi-select dropdown, likewise for domains of practice.  See: https://github.com/maryi/CSCW-Project/blob/master/Project%20report/ReportDocument.md#11-explanation-of-user-requireme

[2015-11-15 21:32] eli4 commented on #28
that is the current version of the app. Dustin is for the most part in charge of the html so i guess he is still working on that part. realisticly I would expect it to only be around an hour of work to add those features at most. If Dustin is busy and cant get around to adding those features I can try and do that as well i suppose but i might not be able to do it today.

[2015-11-15 21:44] dustinfaulkner91 commented on #28
I'm on it, I've been busy up until now.

[2015-11-15 22:32] eli4 commented on #28
alright dustin has now added the purpose field and i have implemented a search function, you can now test out the search function at: http://turorial1-1120.appspot.com/search. Hopefully now all major components of the website are done and we will just need to do a few minor tweaks.

[2015-11-16 16:41] mpaskevi commented on #28
Nice progress guys! @eli4 I can not see your new search function, perhaps put it in another location as the /search page is currently for describing cscw work.  We could also change that page name to /describe

I have found a few small things to change on the app.  Is there a way I can adjust the text?  Are the source files currently on GitHub?

Thanks!

[2015-11-16 18:02] maryi commented on #28
Same here.. I want to help with the development :)
@eli4 @dustinfaulkner91 Where can I find the source files?

[2015-11-16 19:06] maryi commented on #31
Peggy's office is in ECS 562

[2015-11-16 19:10] maryi commented on #29
the interim report was submitted. Closing issue

[2015-11-16 19:10] #29 closed

[2015-11-16 19:11] maryi commented on #24
comments were addressed on interim  report. Closing issue

[2015-11-16 19:11] #24 closed

[2015-11-16 19:13] #16 closed

[2015-11-16 19:15] maryi commented on #11
Progress on this area is being reported here #17 .. so, I'm closing this issue

[2015-11-16 19:15] #11 closed

[2015-11-16 19:16] maryi commented on #8
I think we already have the user requirements well defined in the interim report. Closing issue.

[2015-11-16 19:16] #8 closed

[2015-11-16 19:17] maryi commented on #7
We approved purpose as an extra descriptor for collaborative work. More details about the rationale can be found on the interim report.

[2015-11-16 19:17] #7 closed

[2015-11-16 19:17] maryi commented on #2
This was an idea for enhacement.. Now, I don't think we have the time to do this.. closing issue

[2015-11-16 19:17] #2 closed

[2015-11-16 21:26] dustinfaulkner91 commented on #2
The app should work on phones if they can connect to the website. So it should still be accessible on phones

[2015-11-16 23:03] eli4 commented on #28
all the files are under development/web/turorial

[2015-11-16 23:05] eli4 commented on #28
@mpaskevi  when you go to http://turorial1-1120.appspot.com/search and file out that survey and hit submit does it not return search results for you?

[2015-11-17 00:01] mpaskevi commented on #31
@kristalow I am in the hangout

[2015-11-17 00:41] #31 closed

[2015-11-17 00:42] maryi opened #33 "Peggy's comments from meeting Nov 16"
- [x] Make more clear why we changed the MoCA
- [x] Intro still lacks statement of issue at hand, it comes later in the report but needs to come out in the intro and abstract.
- [x] Crisp explanation of our proposal in the introduction
- [x] Furthermore, description of what are we doing above and beyond what MoCA already does should be in intro and abstract.  What are we adding?  Using as a basis

[2015-11-17 01:48] dustinfaulkner91 commented on #33
updated the list to reflect the notes I took

[2015-11-17 02:59] dustinfaulkner91 opened #34 "'Flow' control"
- [ ] Complete issues regarding report content as mentioned by Peggy in the Meeting.
- [ ] Link report here for easy management
- [ ] Ensure that the language is easy to follow, check for typos, and overall editing of the Report.

[2015-11-17 03:01] dustinfaulkner91 commented on #34
https://github.com/maryi/CSCW-Project/blob/master/Project%20report/InterimReport.pdf

[2015-11-17 03:33] dustinfaulkner91 opened #35 "Make the Website "pretty""
- [ ] Learn to implement CSS
- [ ] actually implement it to the website

[2015-11-17 03:34] dustinfaulkner91 commented on #35
https://www.codecademy.com/courses/web-beginner-en-TlhFi/0/1?curriculum_id=50579fb998b470000202dc8b

[2015-11-17 19:49] maryi commented on #33
@dustinfaulkner91 I think with your addition in the list deleted some of the stuff i had before. Just to be careful next time

[2015-11-17 20:37] maryi commented on #28
There is still this question when searching for an app: How many different areas of study is your team involved in?... This is communities of practice dimension, **which was replaced by Domains.**
I presumed this was taked from the mockups, remember that those are out of date.
Check the report to get more info.

[2015-11-17 20:40] maryi commented on #28
Same thing when registering an app. The question :How many different areas of study can the application support is about the communities of practice, **which was also replaced by Domains**
Check the report.

[2015-11-17 20:47] maryi opened #36 "Survey"
Hey team.
I just updated the Ethics application so we can start with the user validation. I'll get the approval from Peggy and in the meanwhile I just need your ideas or approval about the survey. Here is a link to the google docs. https://docs.google.com/document/d/1tHxaOvLIXMbKukttBzCYuEIP7EvlMhARF4idKsdjXtQ/edit?usp=sharing

[2015-11-17 21:17] mpaskevi commented on #36
I have made some changes and added some comments.  Looks good with a little bit of clean up.

[2015-11-18 19:18] maryi commented on #36
Peggy replied: Ethics -with amendments- has been approved.
Now, we just have to agree on the survey and start the validation process with potential users.

[2015-11-19 20:17] maryi opened #37 "Descriptors in List of applications"
Hey team,
As i said in our last meeting i'm cheking that the descriptors we have in the report are the same as the ones in the list of applications. i found that some descriptors were using a slightly different voabulary so I just changed that (e.g. in service type, software download and should be free software download).

In other cases, I found descriptors that we had decided not to use with app

[2015-11-19 23:02] eli4 commented on #37
both those changes sound fine to me

[2015-11-20 00:00] maryi commented on #36
Survey ready: This is the link http://goo.gl/forms/shRKrLaFcc
If you any typo, just let me know.
When the app is ready we can start sending the survey to potential users.

[2015-11-20 05:24] mpaskevi commented on #37
Thanks @maryi

In the case of scale I am flexible.  We could use the numbers to describe the low, medium and high range.  So low (1-5), medium (6-10), large (10+) or something similar if its important to stay within the DB number descriptions.

For nascence I think its important to use the terms from the report (Routine tasks, Most tasks are routine, Most tasks will be new, Work is Developing)  Si

[2015-11-21 04:48] maryi commented on #35
@dustinfaulkner91 @eli4 I'm working with the app html and css. I'll let you know as soon as I finish

[2015-11-21 06:51] maryi commented on #35
Hey,
I just finished working with the app. I added a CSS style to the whole website, added the About us page and added descriptors missing from the pages.
Please verify @dustinfaulkner91 @eli4 that the webpages still can connect to the database.

I copied and pasted from the old version, but I had to modified some stuff to be coherent with the report. You guys are would know how to .. :) ..

If yo

[2015-11-21 06:52] eli4 commented on #35
looking at the changes now if everything looks normal changes will be on the live site within the hour

[2015-11-21 06:56] eli4 commented on #35
@maryi in the searchIndex.html it now has a category for physical distribution but on the list of base applications https://docs.google.com/spreadsheets/d/1Trh6Pesxvv5aYfd_x7wXxGmR5k9Y5g7-wpFbezwqi8E/edit#gid=0 we had removed physical distribution. is it back in as a descriptor now?

[2015-11-21 17:36] eli4 commented on #35
got the css for the website on the live site. @maryi the register page has physical distribution planned permenence and turnover as categoriesbut they are listed as removed in the list of base applications, these fields also arent being searched on so they arent used for any functionality.

[2015-11-21 18:57] eli4 commented on #35
alright everything should be good to go now on the website if people want to  begin user testing.

[2015-11-21 23:23] mpaskevi commented on #35
Any chance of changing the URL to something that makes more sense or fixing the typo in the spelling of tutorial?

It's looking great otherwise!

[2015-11-21 23:58] eli4 commented on #35
ill look into changing the url to something more fitting

[2015-11-22 04:17] eli4 commented on #35
the website can now be found at http://matchmaker-1137.appspot.com/

[2015-11-22 18:15] kristalow commented on #35
the website looks really good, great job guys! :)
i'm going to be giving the survey out to some friends so hopefully i'll get some results back by wednesday.

[2015-11-23 00:00] maryi commented on #35
Hi @eli4
About your question: "the searchIndex.html it now has a category for physical distribution but on the list of base applications we had removed physical distribution.  is it back in as a descriptor now?"

Remember we define two sets of descriptors, one for collaborative work and another one for applications. When you search, you describe the work to be done, so we use the descriptors for w

[2015-11-23 01:38] maryi commented on #35
hey, I just updated some visual components in the website to make it prettier :P

[2015-11-23 01:46] eli4 commented on #35
@maryi is there a reason we now have 2 seperate turorial folders under development/web?

[2015-11-23 02:40] eli4 commented on #35
@mayri the build you commit broke all the buttons. I made a new folder under development/web/ called matchmaker to reflect the new website url http://matchmaker-1137.appspot.com/ . If you could put your changes there it will be easy for me to see the difference between the two versions so I will be able to fix the two buttons. also once this is done was should delete the turorial and tutorial fold

[2015-11-23 02:49] maryi commented on #35
@eli4 got it. Moving stuff to matchmaker folder

[2015-11-23 03:48] eli4 commented on #35
all good, I think the problem was that when you committed the tutorial folder you had some outdated files because the files you actually updated contained no problems.

[2015-11-23 03:53] maryi commented on #35
ok, good!.. Thanks @eli4 !

[2015-11-23 21:33] mpaskevi opened #38 "Meeting November 23 @ 4:30pm?"
Hi group, are we meeting today via hangouts @ 4:30pm?  I have been away at a conference so love to catch up and see where we are at.

Please let me know

[2015-11-23 22:35] kristalow commented on #38
i will be out all afternoon so i won't be able to go online for the meeting, if there is one happening today.

[2015-11-23 23:13] eli4 commented on #38
im available for a meeting

[2015-11-23 23:23] maryi commented on #38
I can be in the meeting too.

[2015-11-24 00:01] mpaskevi commented on #38
Here is the link to the meeting, see you at 430 - https://hangouts.google.com/call/ej5z6rzjzoyge2ihmvb7liqxoaa

[2015-11-25 18:06] #38 closed

[2015-11-25 18:08] maryi commented on #37
i see your point @mpaskevi .. and I think I agree with you.
Nascence has not been an easy descriptor to work with, but if we leave it as low, medium and high we are leaving more space for ambiguity.

[2015-11-25 18:09] #15 closed

[2015-11-25 18:11] kristalow opened #39 "Project Presentation - Dec 2"
I started google slides for our project presentation.
Here is the link to edit the slides:
https://docs.google.com/presentation/d/150qeZcLTuqcTAVmK7QRPOW4V1q4SQNzmEZKnkOSblS8/edit?usp=sharing

[2015-11-25 19:34] #28 closed

[2015-11-25 19:45] maryi commented on #37
ok, updated List of applications for Nascence descriptor

[2015-11-27 06:40] dustinfaulkner91 commented on #39
Great, when would we like to get together to practice/ tidy things up?

[2015-11-27 21:23] mpaskevi commented on #36
Hi all, any objections to asking the class for feedback on the app as well?  We could pop a link to the app in the general slack channel and ask for folks to take the survey for us.  Or has this already been done?

[2015-11-27 21:29] maryi commented on #36
I think I saw something like that from @dustinfaulkner91 ... but we only have 4 answers so far in the survey. So I guess we can ask again for our classmates collaboration :)

[2015-11-27 21:34] mpaskevi commented on #36
Last I checked we had 10 responses!

[2015-11-27 21:37] maryi commented on #36
Ohh good.. However.. I have to take out the first two. Those were tests

[2015-11-28 00:24] eli4 commented on #33
im currently working on updating the tech specs to reflect the state of the website

[2015-11-28 04:07] kristalow commented on #33
When we finish the report, I can format it in latex again but somebody will have to upload it on github since i was having a lot of trouble with it last time.

[2015-11-28 06:12] dustinfaulkner91 commented on #36
I've asked each group on Slack, as well as handed out surveys. We should have at least a few responses

[2015-11-28 18:33] mpaskevi commented on #36
We talked on Wednesday about ending the survey availability today (Saturday).  If anyone has surveys outstanding, can you motivate them to be completed today?  @dustinfaulkner91 if you have collected paper surveys, we need those entered by end of day today.

This is so we can collate and reflect upon the user feedback tomorrow.

[2015-11-28 18:38] mpaskevi commented on #33
Could everyone be more specific about where they will be contributing to the report?  Just post a comment here letting us know what section you will be working on.

I am working on tackling the first few issues from Peggy:

-Make more clear why we changed the MoCA
-Intro still lacks statement of issue at hand, it comes later in the report but needs to come out in the intro and abstract.
-Crisp exp

[2015-11-28 19:24] eli4 commented on #33
Im going to work on updating the technical specifications, expected results, and limitations sections

[2015-11-28 19:27] kristalow commented on #33
i worked on describing cases of CSCW using MoCA from the Lee and Paine paper, i will be adding some notes about the survey based on feedback i got from friends, help out with editing, and format the paper

[2015-11-29 20:03] mpaskevi commented on #33
can whoever wrote this please clarify what this means:

State how "her"(from research papers) MoCA review does NOT give recommendations on tools for collaborative work.

[2015-11-29 20:14] mpaskevi commented on #33
@maryi please let me know when you are finished with the methodology section as I would like to review and edit.

[2015-11-29 20:18] mpaskevi commented on #33
Question, in a few spots someone is using the a "-" around a word.  for example see "-descriptors-" in methodology section. I dont understand this notation, is it needed for latex or Github perhaps?  I would suggest perhaps quotes (") rather than dashes (-)

[2015-11-29 20:26] mpaskevi commented on #39
I suggest  a group meeting on Monday at 4:30?  We can have it in hangouts.  Please let us know if you can attend.

[2015-11-29 20:30] mpaskevi commented on #39
I have added a few slides to the start of the presentation.  I will set the stage for the motivation to build matchmaker, based on our literature review, should not take more than a couple minutes.

For the final presentation I think we should all speak.  Can people identify what they would like to speak about?  As stated I can start the presentation quickly introduce us and quickly explain the li

[2015-11-29 21:07] eli4 commented on #39
the meeting on monday works fine for me. As for the presentation I would prefer to talk about something on the technical end since thats what im most firmiliar with.

[2015-11-29 21:40] mpaskevi commented on #36
Survey is closed!  I am working on collating the responses now and will provide a summary .

[2015-11-29 21:45] kristalow commented on #39
monday works for me. for the presentation i can talk about lessons we learned or challenges we faced

[2015-11-29 22:05] mpaskevi commented on #36
I have pulled the survey responses into a digest which should be easier to read.  We need someone to prepare a section in the report on this feedback.  Any volunteers?

https://drive.google.com/file/d/0B8Ldpa1zRqv8QXZkVEY5SFJrOUk/view?usp=sharing

[2015-11-29 22:08] kristalow commented on #36
i can write the section about the survey results

[2015-11-29 22:21] mpaskevi commented on #36
also available now as a markdown file and appendix item #4

https://github.com/maryi/CSCW-Project/blob/master/Project%20report/APPENDIX%204%20-%20Survey%20Results.md

[2015-11-29 22:28] #17 closed

[2015-11-29 23:14] eli4 commented on #33
regarding State how "her"(from research papers) MoCA review does NOT give recommendations on tools for collaborative work.

Im not the one who wrote that but I think it means explain how the original moca paper does not use the moca framework for recommending collaborative tools.

[2015-11-30 16:59] maryi commented on #33
Hi,
I did
*  Roles and contrubutions should be in Appendix 3
and now I'm finishing with:
* Descriptors for collaborative work and tool features made into their own (new) section.
* Add methodology section, fully describe our process so far (drawing from issue discussions in GitHub) then user testing phase

I plan to finish these sections today :)

[2015-11-30 17:13] maryi commented on #39
Monday is good for me too.
About the presentation I can talk after @mpaskevi about the process to define our descriptors and maybe talk again after Eli (technical stuff) to review the purpose of the survey.
i think since @kristalow is going to work with the feedback we got from the survey, she could also mention some of that on the presentation. what do you think @kristalow ?

[2015-11-30 17:19] maryi commented on #36
I can see the survey results using google analytics. It offers the information in the same way you format it @mpaskevi in addition to some graphs, which I think we could include on the slides and in the report.
Here is the link: https://docs.google.com/forms/d/1H-t5OBzC30lNktRFTGGyxuBDFMkocJykwZqh3Gqr3Xo/viewanalytics

Please let me know if you can see the info.

[2015-11-30 17:20] #9 closed

[2015-11-30 17:39] maryi commented on #36
Hi,
I just created a subsection in the report, under 4. Expected results I created  4.1. Survey feedback
@kristalow your analysis of the survey can go there.
I'm not sure that this is the most appropriate place, but for sure we need a section that reflect upon the survey results on the report. So, I think @kristalow can start there and maybe later we can move the section some place else.

[2015-11-30 17:50] mpaskevi opened #40 "Final report sprint"
Creating this issue for the final report sprint this week.  We still have to complete the issues Peggy identified last time we spoke, please check them off as you address them - see https://github.com/maryi/CSCW-Project/issues/33

I will be working on writing tomorrow as I am free from work.  There are a couple new sections to write based on the criteria listed by Peggy, including what you learned

[2015-11-30 18:03] maryi commented on #40
I'm working now on the Methodology. I'm trying to follow Peggy's indications for that (appropriateness, how it was executed, describing limitations or alternatives considered)
I have a question, where should we add "what you learned, impact of what you learned?"
That is part of appendix 3, collaboration process?? or
Is part of the report, where the answer expected is probably from the group and no

[2015-11-30 18:04] maryi commented on #33
Descriptors for collaborative work and tool features made into their own (new) section is DONE

Please give it a read :)

[2015-11-30 18:09] mpaskevi commented on #40
I recall that one of Peggy's comments was that much of the content in our appendices should be brought into the report.  This might be a good start, perhaps not a copy and paste but a small section based on the appendix. I think this section has to be about what we as a group learned throughout this process, we can brainstorm this afternoon.

Also note that Peggy wants a section about what we did

[2015-11-30 19:30] kristalow commented on #39
yeah i can talk a bit about the survey results during the presentation & lessons we learned.
maybe @dustinfaulkner91 can talk about the challenges & future work since we don't have anyone assigned to those slides yet

[2015-11-30 19:56] dustinfaulkner91 commented on #39
Sure. Sounds good to me.

[2015-11-30 23:10] maryi commented on #33
I just finished the methodology section :)

[2015-12-01 00:16] eli4 commented on #33
looks good ill work on editing the methodology section as well as the descriptors for collaborative work and tool features, today and tomorrow.

[2015-12-01 03:25] eli4 commented on #33
I edited the methodology section but there are 2 things im unsure of. First in this section we refer to ourselves as researchers which is probably fine but we done refer to ourselves as researchers anywhere else in the paper so im not sure. The other is a sentence I bolded in the second paragraph where im just not sure what the sentence is suppose to mean.

[2015-12-01 17:41] mpaskevi commented on #33
@eli4 I am reading the report now, I do not see a problem with the use of 'the researchers' in this section.  At this point we collectively were making many decisions so this seems appropriate.

Good catch on "The criteria followed to modify the list of descriptors was based on the information usefulness a descriptor could provide for the recommendation system. " It is a little unclear, I will try

[2015-12-01 17:51] mpaskevi commented on #40
I have changed the title of our paper to "#MatchMaker Application – A Recommender System to Match Collaborative Software Tools to Computer Supported Collaborative Work"

Let me know if anyone feels strongly about this change of has other recommendations.  If this is ok, we should change the presentation as well.

[2015-12-01 17:56] maryi commented on #33
Thanks @eli4 !... Methodology section looks better!
About the sentence, I think @mpaskevi has the idea. I was trying to say that everytime we considered to modify the descriptors, we evaluated how useful the information on the particular descriptor was for the system.

[2015-12-01 17:57] maryi commented on #40
I like the title :)

[2015-12-01 18:07] mpaskevi commented on #33
I am wondering about the section which follows methodology, Strategy and Methods.  I believe it was written quite a while ago. It also shows old screenshots of the app. Perhaps we could have both the old and new screenshots, showing the development of the app from conception to production.  I think the text here could also be updated and flow better from the methodology section.  Any volunteers?

[2015-12-01 18:13] maryi commented on #33
@mpaskevi you're right, that section needs to be updated to flow better with the other sections.
The figures in the section are not screenshots, those are the mockups and I think it is ok to show them there... However, we should have screenshoots of the final product somewhere later in the report.. I'm not sure where, maybe in expected results?
I can work on that section on the afternoon is that's

[2015-12-01 20:01] mpaskevi commented on #40
I am making some changes to the use of the word 'application', in many cases substituting it for 'software'.  We currently use application alot in conjunction with 'MatchMaker Application' and to me it got a little confusing.  So when talking about what the system recommends, I am changing the word applications to software.

Let me know if anyone feels strongly about this change of has other recom

[2015-12-01 20:20] mpaskevi commented on #40
@eli4 When you talk about 'Google's platform' in the methodology, can you provide a link to the website in brackets there in text?

[2015-12-01 20:31] mpaskevi commented on #40
I have gone through the methodology section, @eli4 captured many of the edits I had flagged, many thanks.  I suggest we break this large section up into sections, I proposed Conception, Design, Development, Analysis.  Please feel free to alter.

Just before submission we will need to review all headings throughout the report.  It is not clear to me why we use numbering for some headings and not ot

[2015-12-01 20:46] eli4 commented on #40
@mpaskevi added a link to the cloud computing platform in the technical specs

[2015-12-01 20:57] mpaskevi commented on #40
In section 2.2 Descriptors for collaborative work this statement stands out to me, anyone want to explain?

'We found that although MoCA represented a good base to describe collaborative work, the framework presents a high level description for each dimension maybe due to the fact that is has never been applied before to a real situation. '

In the MoCA paper there were two examples of the framewo

[2015-12-01 21:02] kristalow commented on #40
i'm not sure why some headings have numbers in the report here,
but the format i'm using for latex includes numbers for all the headings, so when i format the report, i can take a look at it to make sure all the headings have the correct numbers

[2015-12-01 22:02] mpaskevi commented on #33
I have added the remaining issues to https://github.com/maryi/CSCW-Project/issues/40

[2015-12-01 22:02] #33 closed

[2015-12-01 22:10] eli4 commented on #40
ill work on adding a what we learned section following the future work section in the document

[2015-12-01 23:29] eli4 commented on #40
Have we decided on a place for writing our contribution summaries? I would suggest adding them to appendix 3 under roles and contribution as a logical place.

[2015-12-01 23:48] maryi commented on #40
Agree with @eli4 , I was planning to add my part in Appendix 3 too.

[2015-12-02 01:04] dustinfaulkner91 commented on #40
In similar work, Desanctis & Gallupe (1987) further proposed descriptors which included the size of the group engaged in CSCW (smaller, larger), and one used to identify generally the type of task being conducted (planning, creativity, intellective, preference, cognitive, conflict, mixed motive). These elements helped describe the scale of the group undertaking CSCW as well as the complexity of th

[2015-12-02 01:13] dustinfaulkner91 commented on #40
We removed an entire paragraph from the section 'Reflecting upon and articulating CSCW'?

[2015-12-02 01:26] dustinfaulkner91 commented on #40
I didn't get a response on slack so I'll try here.
Do we want "Future Work" to be more about what our project's effects on collaborative work could be or should I talk more about what we would like to continue to do with the project?

[2015-12-02 06:38] mpaskevi commented on #40
@dustinfaulkner91 descriptors in brackets come from the literature, so please do not change them.  What suggestions do you have to improve the flow?

I moved a paragraph today during my edits as it fit better in the 'The problem we are trying to solve' section.

IMO Future work section should be both, what we could do next or what opportunities remain for other researchers seeking to build upon ou

[2015-12-02 16:39] maryi commented on #40
About Future work section...
I agree with @mpaskevi, future work is about potential opportunities we see in our project. Also, I think that whether we or other will do it... doesn't matter.

[2015-12-02 16:42] maryi commented on #40
I edited *Strategy and Methods section. I changed it to be *Software design.
I tried to create a section that introduce our design process and presents an overview of the descriptors.

[2015-12-02 19:19] maryi commented on #40
I think the last subsection on Methodology should be Validation..
I think that title is a better fit for the activities we did in that phase -survey and analysis of results.-

[2015-12-02 19:44] maryi commented on #40
In technical specifications.. I just changed the word 'link' for the specific url: http://matchmaker-1137.appspot.com/ ... The final version of the work is going to be in a pdf, not web, so the readers should be able to see the site address without internet connection.

[2015-12-02 20:05] maryi commented on #40
I just added current screenshots of website to document and linked them in technical specifications section.

[2015-12-03 14:34] mpaskevi commented on #40
In Appendix 3 I have changed the milestones section to be Individual contributions and added my work there.

[2015-12-04 18:49] maryi commented on #40
Hi, I made some edits to Limitation section

[2015-12-04 19:07] maryi commented on #40
Changed the highlighted phrase:  "We found that although MoCA represented a good base to describe collaborative work, the framework presents a high level description for each dimension maybe due to the fact that is has never been applied before to a real situation."

For:
"We found that although MoCA represented a good base to describe collaborative work, the framework presents a high level descri

[2015-12-04 22:55] eli4 commented on #40
Just finished going over the whole report and making some small changes and making sure all the sentences were super clear. The report looks great!

[2015-12-04 23:47] maryi commented on #40
My last edits were to Appendix 3 - Milestones. I won't make more edits to the report. As Eli, I think the report looks really good :)

[2015-12-04 23:50] mpaskevi commented on #40
Signing off on the report as well. Well done folks!

[2015-12-05 03:26] kristalow commented on #40
do we all agree that we're finished with the report?
if so, i am going to start formatting it now

[2015-12-05 04:16] kristalow commented on #40
should i make the pictures of the mockups a full size page? it's the only way i can make them big enough to read.. and if they are a full page, should i make an appendix for them? cause it looks a bit weird for our report to be divided by the 2 mockup figures.

[2015-12-05 18:54] mpaskevi commented on #40
Feedback so far has been to make the images larger.  Think we should take her feedback and make them bigger in text in the report.

[2015-12-05 20:54] kristalow commented on #40
i've finished formatting the final report :)
@maryi are you able to upload the report on to github? i can email the report pdf to you

[2015-12-05 21:22] maryi commented on #40
Hi @kristalow ,
Sure, send me the file

[2015-12-06 00:51] kristalow commented on #40
@maryi did you get my email?
i think i sent it to the correct email address.. but let me know if you didn't get it

[2015-12-06 01:24] maryi commented on #40
Hey team,
I just uploaded the file and created the link to it in the main repository view.
Good job everyone!